# permission template anchors. It will not be serialized.
landlock_rwx: &landlock_rwx
  - fs_execute
  - fs_write_file
  - fs_read_file
  - fs_truncate
  - fs_read_dir
  - fs_remove_dir
  - fs_remove_file
  - fs_make_dir
  - fs_make_reg
  - fs_make_sock
  - fs_make_fifo
  - fs_make_sym
  - fs_refer
landlock_rw: &landlock_rw
  - fs_write_file
  - fs_read_file
  - fs_truncate
  - fs_read_dir
  - fs_remove_dir
  - fs_remove_file
  - fs_make_dir
  - fs_make_reg
  - fs_make_sock
  - fs_make_fifo
  - fs_make_sym
  - fs_refer
landlock_rw_dev: &landlock_rw_dev
  - fs_write_file
  - fs_read_file
  - fs_truncate
  - fs_read_dir
  - fs_remove_dir
  - fs_remove_file
  - fs_make_dir
  - fs_make_reg
  - fs_refer
  - fs_ioctl_dev
landlock_ro_dev: &landlock_ro
  - fs_read_file
  - fs_read_dir
landlock_rx: &landlock_rx
  - fs_execute
  - fs_read_file
  - fs_truncate
  - fs_read_dir
  - fs_remove_dir
  - fs_remove_file
  - fs_refer

# Main configuration starts here.
landlock:
  rules:
    - path: "/dev/tty"
      rules: *landlock_rw_dev
    - path: "/dev/zero"
      rules: *landlock_rw_dev
    - path: "/dev/random"
      rules: *landlock_ro
    - path: "/dev/urandom"
      rules: *landlock_ro
    - path: "/tmp"
      rules: *landlock_rw
    - path: "/usr"
      rules: *landlock_rx
    - path: "${workspace}"
      rules: *landlock_rwx
